.DS_Store
*.env
*.tmp
*.log
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
.serena/
[Tt]mp/
[Tt]emp/
/samples/**/bin/
/samples/**/obj/
